<section class="page-section">
  <div class="container">
    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>Amigo trabajador</h2>
    </div>

    <ul>
      <li>
        ¿Eres trabajador independiente y no tienes seguro social ni
        prestaciones?
      </li>
      <li>
        ¿Necesitas atención médica y los servicios privados son muy caros?
      </li>
      <li>
        ¿Te quedaste sin trabajo y solo te faltaban unas semanas para tu
        pensión?
      </li>
      <li>¿Vives en el extranjero y quieres cuidar de tus seres queridos?</li>
      <li>¿Quieres tener acceso a los beneficios del seguro social?</li>
      <li>¿Te hacen falta puntos para tu cré de infonavit?</li>
      <li>¿Deseas incrementar tu ahorro para el retiro?</li>
    </ul>

    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>GRAJA es la solución</h2>
    </div>

    Graja somos una sociedad sin fines de lucro integrada por asociados, cuya
    característica es que sean personas que trabajan por su cuenta, y que al
    integrarse a GRAJA gozarán de los beneficios de seguridad social integral.
    Así mismo, Graja promoverá los servicios que cada asociado proporcione de
    manera personal e individual entre los mismos asociados así como a personas
    que no forman parte de la misma sociedad.

    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>¿Quiénes se pueden unir a GRAJA?</h2>
    </div>

    <div id="trabajadores">
      <img
        alt="Trabajadores"
        class="foto-mediana-horizontal"
        src="src\assets\trabajadores.jpg"
      />
    </div>
    Trabajadores Todas las personas que lo deseen como:
    <ul>
      <li>Personal de limpieza</li>
      <li>Amas de casa</li>
      <li>Panaderos, taqueros y meseros</li>
      <li>Costureras y modistas</li>
      <li>Estilistas, peluqueros y barberos</li>
      <li>Taxistas</li>
      <li>Vendedores y comisionistas</li>
      <li>Profesionistas independientes</li>
      <li>Plomeros, carpinteros y soldadores</li>
      <li>Agricultores y jornaleros</li>
      <li>Mecánicos y torneros</li>
      <li>
        Toda persona que trabaje de manera independiente trabajadora que no
        pueda comprobar ingresos y no tenga acceso a la seguridad social
      </li>
      <li>Todos son bienvenidos!!!</li>
    </ul>

    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />

      <h2>GRAJA te ayuda a cuidar de ti y de los tuyos</h2>
    </div>
  </div>
</section>
