<section class="page-section">
  <div class="container">
    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>¿Cómo le hago para contactar a Graja?</h2>
    </div>
    Existen varias maneras de unirte a nuestra sociedad:
    <ul>
      <li>
        Puedes acudir a nuestras oficinas ubicadas en Avenida Venustiano
        Carranza, No. 122, Colonia Cuautepec Barrio Alto, Delegación Gustavo A.
        Madero, Ciudad de México, Código Postal 07100.
      </li>
      <li>
        Llamando al teléfono 01-<strong>55-8652-0269</strong> y uno de nuestros
        ejecutivos te atenderá.
      </li>
      <li>Envíanos un correo a contactograja@gmail.com</li>
      <li>
        Ingresando a nuestra página de internet
        <a href="mailto:contactograja@gmail.com">contactograja@gmail.com</a>
      </li>

      <li>Comprobante del pago de la cuota de inscripción.</li>
    </ul>

    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>Requisitos</h2>
    </div>

    <ul>
      <li>Formato para nuevo ingreso.</li>
      <li>Copia del acta de nacimiento.</li>
      <li>Clave única de Registro de Población (CURP).</li>
      <li>Identificación oficial vigente (IFE, INE o Pasaporte).</li>
      <li>
        Comprobante de domicilio
        <strong>no mayor a 3 meses de antigüedad</strong>.
      </li>
      <li><strong>Número de seguro social.</strong></li>
      <li>Un correo electrónico</li>
    </ul>
  </div>
</section>
