<section class="page-section">
  <div class="container">
    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>¿Quiénes somos?</h2>
    </div>
    <div class="content">
      <p>
        Graja somos una comunidad de trabajadores independientes quienes nos
        asociamos para ayudar a acceder a los beneficios de la seguridad social.
      </p>
      <p>
        Somos una empresa que buscamos gente trabajadora como tú, trabajadores
        independientes que no tienen como comprobar ingresos y necesitan la
        seguridad social.
      </p>
      <p>
        En Graja tenemos la convicción de que trabajando dura y arduamente
        podemos salir adelante y que asociandote con nosotros ahora la
        <strong>seguridad social es una realidad</strong>.
      </p>
    </div>

    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>Misión</h2>
    </div>
    Satisfacer necesidades individuales y colectivas con base a intereses
    comunes con esfuerzo propio y ayuda mutua a fin de proporcionar y fomentar
    el intercambio de servicios diferentes y actividades diversas entre los
    asociados.

    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>Visión</h2>
    </div>
    Ser la sociedad líder en atención y asociación de trabajadores
    independientes a nivel nacional a nuestra red de asociados para la promoción
    de sus productos y servicios, de esta manera mejorar su economía y acceso a
    los beneficios de seguridad social integral.

    <div class="single-row">
      <img
        alt="Graja"
        class="logo-style2"
        src="src/assets/GRAJAt_Logo_128x128.png"
      />
      <h2>Valores</h2>
    </div>
    <div>
      <ul>
        <li>Honestidad</li>
        <li>Confianza</li>
        <li>Responsabilidad</li>
        <li>Calidad</li>
        <li>Seguridad</li>
      </ul>
    </div>
  </div>
</section>
